---
const {projectProps} = Astro.props;
---

<div id="project-modal">
    <div class="flex column">
        <h1>{projectProps.data.title}</h1>
        <p>{projectProps.data.text}</p>
        <img src={projectProps.data.image} alt=`${projectProps.title} image`>
    </div>
</div>