---
const { projectProps } = Astro.props;
---

<section class="padding2 container card left-accent-tab">
  <h2>/{projectProps.data.name}</h2>
  <div class="flex">
    <img
      class="margin3"
      src={projectProps.data.imagePath}
      alt=`${projectProps.data.name} image`
    />
    <div class="container column">
      <p>{projectProps.data.text}</p>
      <ul>
        {projectProps.data.keyPoints.map((point: string) => <li>{point}</li>)}
      </ul>
      <a class="proj-link" href={projectProps.data.link} target="_blank">Learn more</a>
    </div>
  </div>
</section>

<style>
  .proj-link{
    margin-top: var(--spacing2);
  }
</style>